<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {% seo %}
    <link href="/assets/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    {% include style.html %}
    {% include head-custom.html %}
  </head>
  <body>
      <div id="header">
        <nav>
          <ul>
            <li class="downloads"><a href="https://github.com/amberstone-digital/discover.mastodon.africa" target="_blank">Github Repo &raquo;</a></li>
          </ul>
        </nav>
      </div>

    <div class="wrapper">

      <section>
        <div id="title">
          <h1>Discover: African Mastodon Servers</h1>
          <p>This is an index of African Mastodon servers - either operating within the borders of Africa, or primarily for the benefit of African users. All instances shown here allow open registration, but some may require approval before your registration is accepted. If you'd like to include your instance here, please email <a href='mail&#116;o&#58;w&#37;6Fgan&#64;&#112;&#37;72o%&#55;4%6&#70;co&#37;&#54;&#67;7&#46;&#37;63%6F&#46;z%&#54;1'>wogan&#64;p&#114;ot&#111;&#99;&#111;&#108;7&#46;co&#46;za</a> with the details.</p>
          <hr>
          <span class="credits left">&nbsp;</span>
          <span class="credits right">A <a href="https://about.mastodon.africa/about">protocol7</a> initiative</span>
        </div>

        {{ content }}

      </section>

    </div>
  </body>
</html>